h1 table-simple works
//- ------------------------------ FIRST TABLE -----------------------------------------------
p-table(
  [value]="cars",
  [columns]="cols"
)
  // =================== HEADER ====================
  ng-template(
    pTemplate="header"
    let-jekaTableColumns
  )
    tr
      th(*ngFor="let colonka of jekaTableColumns")
        |{{colonka.header}}

  // =================== BODY ====================
  ng-template(
    pTemplate="body"
    let-mashinka
    let-jekaColumns="columns"
  )
    tr
      td(*ngFor="let colonkaVstroke of jekaColumns")

        ng-container(*ngIf="colonkaVstroke.type === 'text'")
          |{{mashinka[colonkaVstroke.field]}}

        ng-container(*ngIf="colonkaVstroke.type === 'checkbox'")
          p-checkbox(
            [binary]="true",
            [(ngModel)] = "mashinka[colonkaVstroke.field]",
            [disabled] = "(colonkaVstroke.field === 'b') ? mashinka['a'] : false"
          )
          input(
            type="text",
            [value]="mashinka[colonkaVstroke.field]"
          )
//- ------------------------------ FIRST TABLE END -----------------------------------------------
hr
//- ------------------------------ SECOND TABLE -----------------------------------------------
p-table(
    [value]="cars",
    [columns]="cols",
    frozenWidth="200px",
    scrollable="true"
  )
  ////- ----------  FROZEN HEADER -------------
  ng-template(pTemplate="frozenheader")
    tr
      th(style="") Brand
  ////- ----------  FROZEN BODY -------------
  ng-template(
    pTemplate="frozenbody",
    let-car
  )
    tr
      //- стили (высота колонки были подогнаны)
      td(style="width:200px;height:62px")
        |{{car['vin']}}
  // =================== HEADER ====================
  ng-template(
    pTemplate="header"
    let-carColumns
  )
    tr
      th(*ngFor="let column of carColumns")
        | {{column.header}}
  // =================== BODY ====================
  ng-template(
    pTemplate="body"
    let-car
    let-myColumns="columns"
    )
    tr
      td(
        *ngFor=" let myCarCol of myColumns",
        style="width:200px"
      )
        p {{car[myCarCol.field]}}

//- ------------------------------ SECOND TABLE -----------------------------------------------
hr
//- ------------------------------ THIRD TABLE -----------------------------------------------


p-table(
  [columns]="cols",
  [frozenColumns]="frCols",
  [value]="cars",
  [scrollable]="true",
  scrollHeight="200px",
  frozenWidth="200px",
)
  ng-template(
    pTemplate="colgroup",
    let-myColgroupColumns
  )
    colgroup
      col(
        *ngFor="let col of myColgroupColumns"
        style="width:200px"
      )
  ng-template(
    pTemplate="header",
    let-myHeaderColumns
  )
    tr
      th(*ngFor="let mHeadercol of myHeaderColumns")
        | {{mHeadercol.header}}
  ng-template(
    pTemplate="body"
    let-myRowData
    let-myBodyColumns="columns"
  )
    tr
      td(*ngFor="let bodyCol of myBodyColumns")
        |{{myRowData[bodyCol.field]}}


//- ------------------------------ THIRD TABLE END -----------------------------------------------
p-dropdown(
  [options]=`[
      {a:1},
      {a:2},
      {a:3},
      {a:4}
    ]`,
  optionLabel="a"
)

hr

p-dropdown(
  placeholder="Выберите опцию",
  [options]="myDropdownOptions",
  optionLabel="a",
  [(ngModel)]="myDropdownChosenOption",
  (onChange)="logDropDown()"
)

//- ====================================================================

ng-container(
  *ngIf = "test1 && test2"
)
  h2 Сообщение есть! 111
